version: 2
updates:

- package-ecosystem: "github-actions"
  directories:
    - "/"
    - ".github/composites/docker-build-push"
    - ".github/composites/docs-publish"
    - ".github/composites/install"
  schedule:
      interval: "monthly"
  commit-message:
      prefix: ":seedling:"
  groups:
    github-actions:
      patterns:
        - "*"

